.header-nav {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 20px;
  display: flex;
  font-size: 7px;
  line-height: 20px;
  background-color: #f2f2f2;
}
.header-nav h1 {
  padding: 3px 10px 3px 0;
}
.table-contents-button-container {
  max-width: 1600px;
  margin: 0 auto;
}
.table-contents-button {
  width: fit-content;
  border: 1px solid #4287d5;
  display: flex;
  margin: 20px;
  padding: 5px;
  cursor: pointer;
  color: #4287d5;
}
.table-contents-button:hover {
  background-color: #f6f6f6;
}
.table-contents-button i {
  font-size: 13px;
  padding: 2px;
}
.table-contents-button p {
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  padding: 2px 4px;
}
#guide1-section {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
}

/* ==TABLE=CONTENTS=STYLING==vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
#table-contents-container {
  border: 1px solid gray;
  flex: 30%;
  height: 100vh;
  padding: 10px 20px;
  display: none;
}
.table-contents-searchbar {
  border: 1px solid gray;
  padding: 5px;
  font-size: 13px;
}
.table-contents-searchbar i {
  font-size: 14px;
  margin-right: 8px;
  color: #4287d5;
}
.table-contents-header {
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px 15px;
}
.table-contents-guide-button {
  font-size: 14px;
  font-weight: 500;
  padding: 2px;
}
.table-contents-guide-button i {
  color: black;
  padding: 5px 5px 5px 1px;
}
.table-contents-article-button {
  font-size: 14px;
  margin-left: 20px;
  padding: 2px;
}
.table-contents-article-button i {
  color: black;
  padding: 5px 5px 5px 1px;
}
#table-contents-link{
  font-size: 14px;
  margin-left: 34px;
  padding: 5px;
  cursor: pointer;
}
#table-contents-link:hover{
  text-decoration: underline;
}

/* ==MIDDLE=FLEX=BOX==vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
.article-container {
  flex: 70%;
}
.section-header {
  border: 1px solid gray;
  padding: 20px;
}
.article-title {
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #4287d5;
}
.article-details {
  font-size: 14px;
}
.rate-box {
  padding: 10px;
}
.rate-box i {
  margin: 0;
  padding: 4px;
  cursor: pointer;
}
.rate-box i:hover {
  color: white;
  background-color: black;
}
.article-main-text {
  border: 1px solid gray;
  line-height: 30px;
  padding: 20px;
}

/* ==IN=THIS=ARTICLE=SECTION==vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
.in-this-article-container {
  border: 1px solid gray;
  flex: 20%;
  height: 100vh;
    display: flex;
  flex-direction: column;
  padding: 10px 15px;
}
.in-this-article-container p {
  font-weight: 600;
}
.in-this-article-container a {
  width: fit-content;
  padding: 4px 6px;
  color: #4287d5;
}
.in-this-article-container a:hover {
  text-decoration: underline;
}
