.header-nav {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 20px;
  display: flex;
  font-size: 7px;
  line-height: 20px;
  background-color: #f2f2f2;
}
.header-nav h1 {
  padding: 3px 10px 3px 0;
}
.table-contents-button-container {
  max-width: 1600px;
  margin: 0 auto;
}
.table-contents-button {
  width: fit-content;
  border: 1px solid #4287d5;
  display: flex;
  margin: 20px;
  padding: 5px;
  cursor: pointer;
  color: #4287d5;
}
.table-contents-button:hover {
  background-color: #f6f6f6;
}
.table-contents-button i {
  font-size: 13px;
  padding: 2px;
}
.table-contents-button p {
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  padding: 2px 4px;
}
#guide-1-section {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
}

/* ==TABLE=CONTENTS=STYLING==vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
#table-contents-container {
  position: sticky;
  top: 0;
  flex: 30%;
  min-width: 280px;
  height: 90vh;
  padding: 10px 20px 80px 20px;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}
.mobile-header {
  border: 1px solid gray;
  display: flex;
  margin-bottom: 10px;
  display: none;
}
@media (max-width: 800px) {
  #table-contents-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background-color: white;
    padding-top: 30px;
  }
  .mobile-header {
    display: flex;
  }
}
.mobile-header p {
  font-size: 14px;
  font-weight: 500;
  flex: 90%;
  padding: 5px 15px;
}
.table-close-button {
  border-left: 1px solid gray;
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 3px 8px;
  cursor: pointer;
}
.table-close-button i {
  font-size: 17px;
  padding: 0;
}
.table-contents-searchbar {
  border: 1px solid gray;
  padding: 5px;
  font-size: 13px;
}
.table-contents-searchbar i {
  font-size: 14px;
  margin-right: 8px;
  color: #4287d5;
}
.table-contents-header {
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px 0 5px 15px;
}
.table-contents-header i {
  float: right;
  border-left: 1px solid rgb(200, 200, 200);
  padding: 6px 8px;
  font-size: 16px;
  margin-top: -5px;
  cursor: pointer;
}
.table-contents-guide-button {
  cursor: pointer;
}
.table-contents-guide-button i {
  color: rgb(100, 100, 100);
  padding: 5px;
  transition: 0.5s;
}
.table-contents-guide-button h1 {
  display: inline;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 1px;
}
#table-contents-articles-container-1,
#table-contents-articles-container-2,
#table-contents-articles-container-3,
#table-contents-articles-container-4,
#table-contents-articles-container-5,
#table-contents-articles-container-6 {
  display: none;
}
.table-contents-article-button {
  margin-left: 20px;
  padding: 2px;
  cursor: pointer;
}
.table-contents-article-button h1 {
  font-size: 14px;
}
.table-contents-article-button i {
  color: rgb(100, 100, 100);
  padding: 5px;
  transition: 0.5s;
}
.table-contents-article-button h1 {
  display: inline;
}
#table-contents-links-container-1,
#table-contents-links-container-2,
#table-contents-links-container-3,
#table-contents-links-container-4,
#table-contents-links-container-5,
#table-contents-links-container-6,
#table-contents-links-container-7,
#table-contents-links-container-8,
#table-contents-links-container-9,
#table-contents-links-container-10,
#table-contents-links-container-11,
#table-contents-links-container-12 {
  display: none;
}
#table-contents-link h1 {
  font-size: 14px;
  margin-left: 34px;
  padding: 5px;
  color: black;
  cursor: pointer;
}
#table-contents-link.active h1 {
  font-weight: 600;
  text-decoration: underline;
}
#table-contents-link:hover {
  text-decoration: underline;
}

/* ==MIDDLE=FLEX=BOX==vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
#article-1-container {
  display: flex;
}
.article-1-text-container {
  border: 1px solid gray;
  flex: 70%;
}
.section-header {
  padding: 20px;
}
#article-1-section-1-title {
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #4287d5;
}
.article-1-section-1-details {
  font-size: 14px;
}
.rate-box {
  padding: 10px;
}
.rate-box i {
  margin: 0;
  padding: 4px;
  cursor: pointer;
}
.rate-box i:hover {
  color: white;
  background-color: black;
}
.article-1-main-text {
  line-height: 30px;
  padding: 20px;
}
#article-1-section-1-text,
#article-1-section-2-text,
#article-1-other-text {
  margin-bottom: 100px;
}
#article-1-section-2-title {
  font-size: 30px;
  font-weight: 600;
  margin: 30px 0;
  color: #4287d5;
}
#article-1-other-title {
  font-size: 30px;
  font-weight: 600;
  margin: 30px 0;
  color: #4287d5;
}
#article-1-other-text {
  height: 888px;
}

/* ==IN=THIS=ARTICLE=SECTION==vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
.in-this-article-container {
  position: sticky;
  top: 0;
  height: 100%;
  flex: 10%;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}
.in-this-article-container h1{
  font-size: 17px;
  font-weight: 600;
  padding: 15px 5px;
}
.in-this-article-container h2 {
  width: fit-content;
  font-size: 14px;
  line-height: 14px;
  padding: 5px 6px;
  color: #4287d5;
}
.in-this-article-container h2:hover {
  text-decoration: underline;
}
.article-section-link.active h2{
  border-left: 2px solid #4287d5;
  font-weight: 500;
}

/* ==TESTING==VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV */
.test-container {
  border: solid red;
  height: 1000px;
}
.client-input-container {
  border: 1px solid black;
  box-shadow: 0 0 100px 15px inset gray;
  border-radius: 11px;
  height: 333px;
  margin: 11px;
}

#input-field {
  width: 300px;
  height: 50px;
  border: 1px solid black;
  outline: none;
  font-size: 25px;
  vertical-align: middle;
}

#add-to-do {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  vertical-align: middle;
  font-size: 15px;
}

.to-dos {
  border: solid #4287d5;
  height: 200px;
  margin-top: 20px;
}

.paragraph-styling {
  margin: 0;
  cursor: pointer;
  font-size: 20px;
}
