.header-nav{
    max-width: 1200px;
    margin:0 auto;
    padding-left: 20px;
    display: flex;
    font-size: 7px;
    line-height: 20px;
    background-color: #f2f2f2;
}
.header-nav h1{
       padding: 3px 10px 3px 0;
}
.table-contents-container{
    max-width: 1200px;
    margin: 0 auto;
}
.table-contents-button{
    width: fit-content;
    border: 1px solid black;
    display: flex;
    margin: 20px;
    padding: 5px;
    cursor: pointer;
}
.table-contents-button:hover{
    background-color: #f6f6f6;
}
.table-contents-button i{
        font-size: 13px;
    padding: 2px;
}
.table-contents-button p{
        font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    padding: 0 4px
}
#guide1-section{
    max-width: 1200px;
    margin: 0 auto;
}
.section-header{
    margin: 30px 0 10px 20px;
}
.article-title{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 10px;
    color:#4287d5
}
.article-details{
    font-size: 14px;
}
.rate-box{
    padding: 10px;
}
.rate-box i{
        margin: 0;
    padding: 4px;
    cursor: pointer;
}
.rate-box i:hover{
    color: white;
    background-color: black;
}
.in-this-article-container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    
}
.in-this-article-container p{
font-weight: 600;
}
.in-this-article-container a{
    width: fit-content;
    padding: 4px 6px;
    color:#4287d5;
}
.in-this-article-container a:hover{
    text-decoration: underline;
}
.article-main-text{
    margin: 20px;
    line-height: 30px;
}