* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Segoe UI, SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
 }
body {
  width: 100vw;
  padding-right: 17px;
  overflow-x: hidden;
}
nav {
  width: 100vw;
  padding-right: 7px;
  border-bottom: 1px solid rgb(233, 221, 221);
}
@media (max-width: 800px) {
  body,
  nav {
    padding-right: 0;
  }
}
.top-nav {
  max-width: 1600px;
  height: 55px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.home-link {
  color: black;
}
.logo-box {
  display: flex;
}
.logo {
  line-height: 50px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-left: 5px;
  text-decoration: underline;
}
.logo-text {
  font-size: 20px;
  line-height: 60px;
  display: none; /*!!!!!!!!!!!DISPLAY NONE!!!!!!!!!!*/
}
ion-icon.globe-icon {
  font-size: 29px;
  --ionicon-stroke-width: 20px;
  margin: 13px 0 13px 20px;
  color: rgb(255, 255, 255);
  background-color: #0078d4;
}
.menu-button-box {
  display: flex;
  cursor: pointer;
}
.menu-button-text {
  font-size: 17px;
  font-weight: 500;
  line-height: 55px;
}
ion-icon.menu-button-bars {
  font-size: 30px;
  --ionicon-stroke-width: 20px;
  padding: 13px;
}
#main-menu-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  height: 100vh;
  width: 100vw;
  background-color: rgb(59, 59, 59, 0.5);
  display: none;
}
.main-menu-box {
  float: right;
  width: 335px;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}
@media (max-width: 400px) {
  .main-menu-box {
    width: 100vw;
  }
}
.main-menu-box-top-row {
  height: 55px;
  display: block;
  border-bottom: 1px solid rgb(233, 221, 221);
}
.home-icon-text-container {
  display: flex;
  height: 55px;
  float: left;
}
ion-icon.home-icon {
  font-size: 15px;
  margin: 20px 6px;
}
.home-icon-text-container p {
  line-height: 55px;
  font-size: 18px;
  font-weight: 500;
}
.search-xmark-icon-container {
  float: right;
}
ion-icon.search-icon {
  font-size: 19px;
  margin: 18px 10px;
  transform: scaleX(-1);
}
ion-icon#xmark-box {
  float: right;
  font-size: 19px;
  padding: 18px 30px 18px 10px;
  border-left: 1px solid rgb(233, 221, 221);
  cursor: pointer;
}
.main-menu-header {
  color: #4287d5;
  font-size: 16px;
  font-weight: 500;
  padding: 18px 0 18px 15px;
}
.main-menu-link {
  padding: 13px 15px;
  font-size: 14px;
  color: rgb(102, 102, 102);
}

/*==MAIN=SECTION=STYLING==vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
.main-header {
  width: 100vw;
  background-color: #002050;
  color: white;
}
.main-header-container {
  max-width: 1600px;
  margin: 0 auto;
}
.site-intro {
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
}
.site-intro-sub-heading {
  font-size: 15px;
  padding: 0 0 10px 20px;
}
.main-section {
  background-color: #f2f2f2;
}
.main-section-container {
  max-width: 1600px;
  margin: 0 auto;
}
.guide-cards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}
.guide-card {
  background-color: white;
  flex: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  padding: 30px;
  box-shadow: 0 1px 5px 1px rgb(192, 192, 192);
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}
.guide-card a {
  width: fit-content;
  font-size: 15px;
  line-height: 15px;
  margin: 3px 0;
}
@media (min-width: 1000px) {
  .guide-card {
    flex: 25%;
  }
}
.sub-section-header {
  margin-left: 20px;
}
.white-space-box {
  height: 800px;
}
.main-footer {
  height: 100px;
  padding: 20px;
  background-color: #e6e6e6;
  text-align: center;
}
